.bg-color {
    min-height: calc(100vh - 4rem); /* 4rem = 2 x 2rem (m-2) */
 }
 body {
    overflow-x: hidden;
  } 
  .guardar-btn {
   padding: 8px 16px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 .guardar-btn:hover {
   background-color: #3E8E41;
 }

 input[type=text] {
   padding: 8px 16px;
   border-radius: 4px;
 }
  